{% extends 'ksko/base.html' %}
{% load static %}

{% block title %}
<style media="screen">
#wrapper {
	width: 80%;
	margin: 0 auto;
}
#pic {
  border-radius: 50%;
	width: 200px;
	height: 200px;
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
	}
#pad{
		padding: 50px;
		}
		p{
		font-family: 'Lato', sans-serif;
		}
		h4{
				font-family: 'Lato', sans-serif;
			}
		h1{
				font-family: 'Lato', sans-serif;
			}
		h2{
			font-family: 'Lato', sans-serif;
			}
		h3{
			font-family: 'Lato', sans-serif;
		}

</style>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<!-- Hero-area -->
<div class="hero-area section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'ksko/img/page-background.jpg' %})"></div>
	<!-- /Backgound Image -->

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<ul class="hero-area-tree">
					<li><a href="index.html">Home</a></li>
					<li>About</li>
				</ul><br>
				<h1 class="white-text">Our Mission</h1>
				<p class='lead white-text'>
					<i>
						" To facilitate the Winner with a continous <b>Guidance and Mentoring program, </b>
						<br>
						that will ensure optimum utilization of their academic potential "
					</i>
				</p>

			</div>
		</div>
	</div>

</div>
<!-- /Hero-area -->


<div  id="wrapper" >
	<div class="row" id="pad">
		<h2 class="text-center">About us</h2><hr>
		<div class="column">


			<h4 class='lead'>A premier coaching institute for Board Exams (9th to 12th Std) and career foundation (NTSE and Olympiad preparation for class 10th).
				<br><br>
				The institute is well regarded for high teaching skills and various kinds of activities like Spiritual and Motivational events, Cultural events, Indoor and Outdoor games, Quizzes and Award functions.
				<br><br>
				At our career institute, We focus on building a strong foundation of knowledge and concepts in students for their success and provide an excellent platform for the preparation of board level education.
				<br><br>
				<!-- The best academic support and personal care which we provide to the students helps them meet their career goals and objectives. -->
				The core values of Determination, Honesty, Authencity, Integrity, Devotion, Humanism, Holistic learning, Social ethics, and concern for society and environment are all closely interwoven into the fiber of our academic programs.

				<!-- Our highly qualified and most experienced faculties are dedicated and committed to student’s complete success and provide assistive surroundings to contribute to their social, cultural, academic and all- round development. -->
			</h4>
		</div>
		<div class="column">
			<img src="{% static 'ksko/img/high-school-teacher-calling-on-student-in-classroom-595349163-5adf35e6fa6bcc0036b16732.jpg' %}" alt="Coaching" style="width:100%">
		</div>
	</div>
	<div class="row" id="pad">
		<h2 class="text-center">What we Do?</h2><hr>
		<div class="column">
			<img src="{% static 'ksko/img/indian_students_2.jpg' %}" alt="Coaching" style="width:100%">
		</div>
		<div class="column">

			<h4 class='lead'>
				<b>To our Students,</b> <br>
				We impart value- based career education, abundant resources, and individual attention.
				<br><br>
				The best academic support and personal care which we provide to the students helps them meet their career goals and objectives.
				<br><br>
				<b>To the Parents,</b> <br>
				We have a responsibility to nurture ethical and responsible career leadership in the children.
				<br><br>
				<b>To the Society,</b> <br>
				We provide a lifelong connection to ethics and excellence global leaders.
			</h4>
		</div>
		</div>
		<div class="" id="pad">

			<h2>Our Working Style</h2><hr>
			<ol style='list-style-type: upper-roman;'>
				<li>Weekly Chapter wise Test- Series.</li><br>
				<li>After Tests, We promote Marks list as per Rank of all students to their parents.</li><br>
				<li>Every Month we conduct doubt- session.</li><br>
				<li>Time to Time Parents and Teachers meeting for better performance.</li><br>
				<li>We also focus on Personality development of every students.</li><br>
				<li>The institute is well regarded for high teaching skills and various kinds of activities like Spiritual and Motivational events, Cultural events, Indoor and Outdoor games, Quizzes and Award functions.</li><br>
				<li>In Facilities we give- Free Wi-Fi coaching institute, Pure drinking water, Proper classroom with proper sitting arrangements.</li><br>
		</ol>
		</div>


		<div class="" id="pad">
			<h2>Know Our Founder</h2><hr>

			<div class="row">
				<div class="col-md-3">
					<img class="" id="pic" src="https://scontent.fgau1-1.fna.fbcdn.net/v/t1.0-9/18157840_1334324753288511_1876838296725364321_n.jpg?_nc_cat=106&oh=063df5949cce02f8c33d39f55de8e088&oe=5C563636" alt="">
				</div>

				<div class="col-md-9">
					<h3>Rajat Goyal</h3>
					<h5>BTech, Noida Institute of Engineering and Technology</h5>
					<br>
					<ol>
						<h5>Achievements</h5>
						<b>
							<li>Got 17th Rank in 7th National Cyber Olympiad, held on 6th Sept’ 2007</li>
							<li>Got Achievement Award for Upcoming Rising Leader and Best public speaker on 1st April’ 2012 in Father Angel Auditorium, Noida.</li>
						</b>

					</ol>
				</div>
			</div>
		</div>

</div>

{% endblock %}
