{% extends 'ksko/base.html' %}
{% load static %}

{% block content %}
	<br>
	<div class="container">
	<h1>KKSO Exam Pattern</h1>
	<div class="table-responsive">
		<div class="story-responsive">
			<table class="table">
				<tbody>
					<tr>
						<td valign="top">
							<p class="TableContents">
								<h4><strong>Feature</strong></h4>
							</p>
						</td>
						<td valign="top">
							<p class="TableContents">
								<h4><strong>Description</strong></h4>
							</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents">Duration of Exam</p>
						</td>
						<td valign="top">
							<p class="TableContents">2 hours (120 minutes)</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents">Total Number of Questions</p>
						</td>
						<td valign="top">
							<p class="TableContents">90</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents">Total Marks</p>
						</td><td valign="top">
							<p class="TableContents">360</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents">Type of Questions</p>
						</td>
						<td valign="top">
							<p class="TableContents">Multiple Choice Questions (MCQ)</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents">Subjects</p>
						</td>
						<td valign="top">
							<p class="TableContents">KKSO question paper will consist of 5 Subjects:</p>
							<ul>
								<li>
									<p>Mathematics(20 Questions)</p>
								</li>
								<li>
									<p>Physics(20 Questions)</p>
								</li>
								<li>
									<p>Chemistry(20 Questions)</p>
								</li>
								<li>
									<p>Biology(20 Questions)</p>
								</li>
								<li>
									<p>Reasoning(10 Questions)</p>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents">Marking Scheme</p>
						</td>
						<td valign="top">
							<ul>
								<li>
									<p>4 Marks for every correct answer</p>
								</li>
								<li>
									<p>No Negative Marking.</p>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<h1><strong>KKSO Eligibility Criteria<strong></h1>
	<h4><strong>The students who are promoted to classes 8,9,10,11 in April 2018 can participate in KKSO.<strong></h4>
	<br><br>


	<div id="anim"></div>
{% endblock %}
