{% extends 'ksko/base.html' %}
{% load static %}

{% block content %}
	<br>
	<div class="container">
	<h1>Exam Pattern</h1><br>
	<div class="table-responsive">
		<div class="story-responsive">
			<table class="table">
				<tbody>
					<tr>
						<td valign="top">
							<p class="TableContents"><b>Duration of Exam</b></p>
						</td>
						<td valign="top">
							<p class="TableContents"><b>2 hours</b> (120 minutes)</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents"><b>Total Number of Questions</b></p>
						</td>
						<td valign="top">
							<p class="TableContents">90</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents"><b>Total Marks</b></p>
						</td><td valign="top">
							<p class="TableContents">360</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents"><b>Type of Questions</b></p>
						</td>
						<td valign="top">
							<p class="TableContents">Multiple Choice Questions (MCQ)</p>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents"><b>Subjects</b></p>
						</td>
						<td valign="top">
							<b>
								<p class="TableContents">KKSO question paper will consist of 5 Subjects:</p>
							</b>
							<ul>
								<li>
									<p>Mathematics (20 Questions)</p>
								</li>
								<li>
									<p>Physics (20 Questions)</p>
								</li>
								<li>
									<p>Chemistry (20 Questions)</p>
								</li>
								<li>
									<p>Biology (20 Questions)</p>
								</li>
								<li>
									<p>Reasoning (10 Questions)</p>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<p class="TableContents"><b>Marking Scheme</b></p>
						</td>
						<td valign="top">
							<ul>
								<li>
									<p><b>4 Marks</b> for every correct answer</p>
								</li>
								<li>
									<b>No Negative Marking.</b>
								</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td valign="top">
							<p class="TableContents"><strong>KKSO Eligibility Criteria<strong></p>
						</td>
						<td valign="top">
							<ul>
								<li>
									<p>The students who are promoted to classes <b>8, 9, 10, 11 in April 2018</b> <br>can participate in KKSO.</p>
								</li>

							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="anim"></div>
{% endblock %}
